<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.finwin.doorstep.riviresa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.finwin.doorstep.riviresa.home.jlg.jlg_loan_creation.room.MemberApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustNothing"
        tools:replace="android:icon">
        <activity android:name="com.finwin.doorstep.riviresa.print_reciept.loan_recipt.LoanReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material"></activity>
        <activity
            android:name="com.finwin.doorstep.riviresa.home.jlg.jlg_pending_lists.JlgPendingListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.jlg.jlg_split_closing.SplitClosingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.jlg.search_group.SearchGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.jlg.jlg_loan_creation.JlgLoanCreationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.jlg.search_center.SearchCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.jlg.search_member.SearchMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.transactions.loan_collection.search_loan_number.SearchLoanNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity android:name="com.finwin.doorstep.riviresa.home.transactions.neft_imps.add_beneficiary.AddBeneficiaryActivity" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.customer_creation.select_image.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent.ImagePicker" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.customer_creation.CustomerCreationActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.jlg.split_transaction.SplitTransactionActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.jlg.search_account_group.SearchGroupAccountActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.enquiry.mini_statement.reciept.MiniStatementRecieptActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.print_reciept.ReceiptActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.transactions.search_account.SearchActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.home.home_activity.HomeActivity"
            android:fitsSystemWindows="true"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material" />
        <activity
            android:name="com.finwin.doorstep.riviresa.MainActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.finwin.doorstep.riviresa.login.LoginActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Material">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>